$white: rgb(255, 255, 255);
$black: rgb(0,0,0);
$lightBlue: rgb(43,156,218);
$emailColor: rgb(123, 190, 227);
$locationGrey: rgb(153,153,153);
$footerGrey: rgb(234,234,234);
$arrowsGrey: rgb(231,229,220);
$violet: rgb(136,97,227);
$red: rgb(254,0,0);
 